.gitignore
.vscode/**
docs/**
scripts/**
test/**
eslint.config.mjs
**/.eslintrc.json
node_modules/**
vendor/**
images/*.svg
examples/**
images/before.png
images/after.png
images/before-after.png
images/hover.png
images/diagnostics.png
